.HeaderBox {
    height: 10em;
    display: flex;
    // flex-direction: column;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 1em;
}

.Logo {
    height: 6em;
    display: flex;
    align-items: center;
}

.LogoImage:hover {
    opacity: 0.8; 
}